{% extends 'pharmacy_availabe_drugs/_main.html.twig' %}

{% block title %}Medicament {{drug.nameDrugs}}{% endblock %}

{% block pharmacy_content %}
   
<div class="jumbotron jumbotron-fluid p-4">
        <h1 class="display-4">{{drug.nameDrugs}}</h1>
        <p class="lead">{% for category in drug.categoryDrugs %}
            {{category}}
        {% endfor %}</p>
        <hr class="my-4">
        <p><h3  class="mt-5">Consigne :</h3>
        {{drug.consigne}}
        <hr class="my-4">
        <h3 class="mt-5"> Description :</h3>
        {{drug.description}}
        <hr class="my-4">
        <h3 class="mt-5"> Consomateurs :</h3>
        {% for consomers in drug.drugsConsommers %}
          {{consomers}}
            
        {% endfor %}
        </p>
        <hr class="my-4">
        <h3 class="mt-5"> Forme du médicament :</h3>
        {% for form in drug.formDrugs %}
        {{form}}
          
      {% endfor %}
        </p>        <hr class="my-4">
        <h3 class="mt-5"> Femme enceinte :</h3>
        {% if drug.isAuthorised == false %}
        Interdit
        {% else %}
            Authorisé
        {% endif %}
        </p>
        

    </div>






{% endblock pharmacy_content %}

