{% extends "main_refmed/main_account_show.html.twig" %}
{% block header_picture %}{{asset('bower_components/images/doctor-header.png') }}{% endblock %}
              {% block picture %}
              {% if doctor.pictureProfil %}             
              {% else %}
              <img class="photo" src="{{asset('bower_components/images/notImageProfile.png') }}" 
               alt="Profile image not available">
              {% endif %}
              {% endblock %}
            </div>
            {% block entityName %}
            <h4 class="name">{{doctor.fullName}}</h4>
            <p class="info">{{doctor.profession}}</p>
            {% endblock entityName %}
            <div class="stats row">
              <div class="stat col-xs-4">
                {% block numberPhone %}
                <p class="number-stat">{{doctor.numberPhone|replace({'-':' ' }) }} </p>  
                {% endblock numberPhone %}
              </div>
            </div>
  <span class="info-titre">Domaines d'Expertise</span>          
  <p class="desc">{% for expertise in doctor.expertise %}<span class="badge badge-primary">{{expertise.expertiseName}} </span> {% endfor %}</p>
            <div class="social">
              {% block linksSocial %}
              {% for socialLinks in doctor.doctorSocialNetworks %}
              {% if socialLinks.socialNetworks.socialName|lower == "facebook" %}
             <a href="{{socialLinks}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a> 
              {% endif %}
              {% if socialLinks.socialNetworks.socialName|lower == "twitter" %}
             <a href="{{socialLinks}}"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a> 
              {% endif %}
              {% if socialLinks.socialNetworks.socialName|lower == "linkedin" %}
              <a href="{{socialLinks}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> 
              {% endif %}
              {% if socialLinks.socialNetworks.socialName|lower == "google+" %}
            <a href="{{socialLinks}}">  <i class="fa fa-google-square" aria-hidden="true"></i></a> 
              {% endif %}
                
              {% endfor %}
              {% endblock %}
              {% block input %}
              <input type="radio" id="tab-profile1" name="tab-profile-control" checked>
              <input type="radio" id="tab-profile2" name="tab-profile-control">
              <input type="radio" id="tab-profile3" name="tab-profile-control">    
              {% endblock %}         
              <ul>
                  {% block liName %}
                  <li title="Presentation"><label for="tab-profile1" role="button"><i class="fa fa-book-reader"></i><br><span>Presentation</span></label></li>
                  <li title="Informations"><label for="tab-profile2" role="button"><i class="fa fa-info-circle"></i> <br><span>Informations</span></label></li>
                  <li title="Carte"><label for="tab-profile3" role="button"> <i class="fa fa-map"></i> <br><span>Carte</span></label></li> 
                  map     
                  {% endblock %}
                  {% block content %}
                  <section>
                      {{doctor.presentation}}
                    </section>
                        <section>
                           <p> <span class="info-titre">Tarifs</span> : {{doctor.fullTarif}}</p>
                          <p>  <span class="info-titre">Langue Parlées</span>: {% for langue in doctor.language %} {{langue}} {% endfor %}</p>
                          <p> <span class="info-titre">Paiement accèptés </span>: {% for means in doctor.meansPayment %} {{means}} {% endfor %}</p>
                          <p> <span class="info-titre">Moyens d'accès</span> :  {% for info in doctor.praticalInfos %} {{info}} {% endfor %}</p>
                          <p> <span class="info-titre">Remboursement(s) accèpté(s)</span> : {% for refund in doctor.refund %} {{refund}} {% endfor %}</p>
                          </section>
                        <section>
                          <div id="map"></div>
                          </section>
                  {% endblock %}
              
            </div>          
          </div>
      </main>
    </div>
{% endblock body %}
