

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->


        <!-- Main Header Area -->
        <div class="main-header-area" id="stickyHeader">
            <div class="container h-100" style="max-width:100% ;">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('bower_components/mainRefMed/img/core-img/logoRFMD.png')}}"
                                        alt="Logo" width="185px"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false"
                                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav" style="margin-left: 70px;">
                                        {% set currentPath = path(app.request.attributes.get('_route'),
                                        app.request.attributes.get('_route_params')) %}
                                        <li class="nav-item {% if currentPath == '/' %}active{% endif %}">
                                            <a class="nav-link" href="{{path('Home')}}">Acceuil {% if currentPath == '/' %}<span
                                                class="sr-only">(current)</span>{% endif %}</a>
                                        </li>
                                        <li class="nav-item {% if currentPath == '/services' %}active{% endif %}">
                                            <a class="nav-link" href="{{path('services')}}">Services {% if currentPath == '/services' %}<span
                                                class="sr-only">(current)</span>{% endif %}</a>
                                        </li>

                                    </li>
                                    {% if app.user %}

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Gestion de votre compte</a>
                                    {% if app.user.roles[0] == "ROLE_USER_BLOG" %}
                                        
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#">Accédez à votre espace</a>
                                            <a class="dropdown-item" href="#">Gérer votre compte</a>
                                            <a class="dropdown-item" href="{{path('home')}}">Blog</a>
                                            <a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter vous</a>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% if app.user.roles[0] == "ROLE_USER_DOCTOR" %}
                                        
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{path('appointment_calendar')}}">Accédez à votre espace</a>
                                        <a class="dropdown-item" href="{{path('edit_account')}}">Gérer votre compte</a>
                                        <a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter vous</a>
                                    </div>
                                </li>
                                {% endif %}
                                {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" or app.user.roles[0] == "ROLE_ADMIN" %}
                                        
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{path('#')}}">Accédez à votre espace</a>
                                    <a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter vous</a>
                                </div>
                            </li>
                            {% endif %}
                            {% if app.user.roles[0] == "ROLE_USER_PHARMACY" %}
                                        
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{path('#')}}">Accédez à votre espace</a>
                                <a class="dropdown-item" href="{{path('edit_account')}}">Gérer votre compte</a>
                                <a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter vous</a>
                            </div>
                        </li>
                        {% endif %}
                        {% if app.user.roles[0] == "ROLE_USER_LABORATORY" %}
                                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{path('edit_account')}}">Gérer votre compte</a>
                            <a class="dropdown-item" href="{{path('app_logout')}}">Déconnecter vous</a>
                        </div>
                    </li>
                    {% endif %}
                                  {% else %}
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Compte Professionnel</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{path('app_register_pharmacy')}}">Inscription pharmacie</a>
                                            <a class="dropdown-item" href="{{path('app_register_doctor')}}">Inscription praticien</a>
                                            <a class="dropdown-item" href="{{path('app_register_laboratory')}}">Inscription Laboratoire</a>
                                            <a class="dropdown-item" href="{{path('app_login')}}">Se Connecter</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                                            role="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">Notre Forum </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{path('home')}}">accueil</a>
                                            <a class="dropdown-item" href="{{path('app_register_blog')}}">S'inscire</a>
                                            <a class="dropdown-item" href="{{path('app_login')}}">Se Connecter</a>
                                        </div>
                                    </li>
       
                                    {% endif %}


                                    <li class="nav-item {% if currentPath == '/contact' %}active{% endif %}">
                                        <a class="nav-link" href="{{path('contact')}}">Contact {% if currentPath == '/contact' %}<span
                                            class="sr-only">(current)</span>{% endif %}</a>
                                    <li class="nav-item {% if currentPath == '/about' %}active{% endif %}">
                                        <a class="nav-link" href="{{path('about')}}">A propos {% if currentPath == '/about' %}<span
                                            class="sr-only">(current)</span>{% endif %} </a>
                                    </li>
                                    </ul>
                                    <!-- Appointment Button -->
                                    <a href="#" class="btn medilife-appoint-btn ml-30">Appelez les Urgences</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


