<sidebar>
    <div class="logo">logo</div>
    <div class="avatar">
      <div class="avatar__img">
        {% if doctor.pictureProfil %}
        <img class="" src="{{vich_uploader_asset(doctor, 'imageFile')}}"alt="user" />
        {% else %}
        <img  class="" src="{{asset('bower_components/images/NotImageProfile.png')}}" 
        alt="Empty Image" style="width:70px">
       {% endif %}
      </div>
      <div class="avatar__name">{{doctor.fullName}}</div>
    </div>
    <nav class="menu">
      <a class="menu__item menu__item--active" href="{{path(appointment_calendar)}}">
          <i class="menu__icon fa fa-calendar"></i>
          <span class="menu__text">Calendrier</span>
        </a>
        <a class="menu__item" href="{{path(appointment_unconfirmed)}}">
          <i class="menu__icon fa fa-calendar-times-o"></i>
          <span class="menu__text">RDV non confirmés</span>
        </a>
        <a class="menu__item"  href="{{path(appointment_list)}}">
          <i class="menu__icon fa fa-calendar-check-o"></i>
          <span class="menu__text">RDV Gestion</span>
        </a>
    </nav>
    <div class="copyright">Logo REF-MED</div>
  </sidebar>