{% extends 'appointment/main_appointment.html.twig' %}

{% block title %}Rendez vous {% endblock %}

{% block appointment_content %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Abel');


.center {
  position: absolute;
  width: 90%;
}

.appointment-card {
  width: 100%;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
 
}

.appointment-card h1 {
  text-align: center;
}

.appointment-card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#dE685E, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.appointment-card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.appointment-card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.appointment-card .additional .user-appointment-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.appointment-card .additional .user-appointment-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.appointment-card .additional .user-appointment-card .level,
.appointment-card .additional .user-appointment-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.appointment-card .additional .user-appointment-card .points {
  top: 80%;
}

.appointment-card .additional .user-appointment-card svg {
  top: 50%;
}

.appointment-card .additional .more-appointmentInfo {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.appointment-card .additional .more-appointmentInfo h1 {
  color: #fff;
  margin-bottom: 0;
}

.appointment-card.green .additional .more-appointmentInfo h1 {
  color: #224C36;
}

.appointment-card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.appointment-card.green .additional .coords {
  color: #325C46;
}

.appointment-card .additional .coords span + span {
  float: right;
}

.appointment-card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}
.appointmentInfo{
    font-weight: 700;
}

.appointment-card.green .additional .stats {
  color: #325C46;
}

.appointment-card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.appointment-card .additional .stats i {
  display: block;
}

.appointment-card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.appointment-card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.appointment-card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.appointment-card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.appointment-card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}



</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="center mt-50">

                <div class="appointment-card green">
                  <div class="additional">
                    <div class="user-appointment-card">
                        {% if appointment.isConfirmed == true %}
                        <div class="level center">
                            Confirmé
                            <div style="
    background: #0bff12e3;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    "></div>
    
                          </div> 

                        {% else %}
                        <div class="level center">
                            Non Confirmé
                            <div style="
    background: red;
    width: 30px;
    height: 30px;
    border-radius: 100%;
"></div>
    
                          </div>
                      {% endif %}


                      <div class="points center">
                        <a name="" id="" class="btn btn-primary" href="{{path('appointment.edit', {id: appointment.id})}}" role="button">Editer</a>
                      </div>
                      <div class="row">
                          <img src="" alt="" width="110" height="110" role="img" aria-labelledby="title desc" class="center">
                          <title id="title"></title>
                          <desc id="desc"></desc>
                      </div>
                    </div>
                    <div class="more-appointmentInfo">
                      <h1>Nom du patient: <span class="appointmentInfo">{{appointment.name}}</span></h1>
                      <div class="coords">
                        <span>Debut : <span class="appointmentInfo">{{appointment.beginAt|format_datetime('medium', 'medium', locale='Africa/Dakar')}}</span></span>
                        <span>Fin : <span class="appointmentInfo">{{appointment.endAt|format_datetime('none', 'short', locale='Africa/Dakar')}}</span></span>
                      </div>
                      <div class="coords">
                        <span>Type de RDV:<span class="appointmentInfo">{{appointment.appointmentType}}</span> </span>
                        <span>Tel: <span class="appointmentInfo">{{appointment.tel}}</span></span>
                      </div>
                    </div>
                  </div>
                  <div class="general">
                    <h1>{{appointment.name}}</h1>
                    <p>{{appointment.title}}</p>
                 
                  </div>
                </div>
              
              </div>
        </div>

          

    </div>
    
</div>

{% endblock appointment_content %}


